.camera-view {
  background-color: #cfe9ff00;
  opacity: 0;
  overflow: auto;
}
.camera-view.visible {
  opacity: 1;
}
.camera-view.hidden {
  opacity: 0;
}

.hand-cal-camera-container {
  display: flex;
  margin-top: 0px;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
  background-color: #cfe9ff00;
  width: 75vw;
}

.cal-camera-video {
  position: absolute;
  width:100%;
  
  height: auto;
  z-index: 1;
  pointer-events: none;
  border-radius: 5px;
  background-color: transparent;
}

.cal-camera-canvas {
  position: absolute;
  width: 100%;
 
  height: auto;
  z-index: 2;
  pointer-events: none;
  border-radius: 5px;
  background-color: transparent;
  
}

.landmark-coordinates {
  position: "absolute"; 
  top: 100;
  left: 10; 
  background-color: "rgba(0, 0, 0, 0.5)";
  color: "white";
  padding: "5px";
  border-radius: "5px";
  z-index: 100;
}

.coordinates {
  background-color: transparent;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); /* Grau durchscheinend */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-radius: 8px;
}

.overlay-text {
  position: inherit;
  top: 10%;
  font-size: 1.8em;
  color: white;
  font-weight: bold;
  background-color: transparent;
}

.loader-text {
  position: absolute;
  top: 30vw;
  background-color: transparent;
  color: #ffffff;
  font-size: 1.5em;
}

.calDone-text1 {
 
  background-color: transparent;
  color: #e3e3e3;
  font-size: 1.3em;
  
}
.calDone-text2 {
  text-align: center;
  background-color: transparent;
  color: #e3e3e3;
  font-size: 1.3em;
  
}

.cal-fingertip-target {
  position: absolute;
  pointer-events: none; /* Verhindert Interaktionen mit den Zielbildern */
  transform: translate(-50%, -50%); /* Zentriert das SVG auf den Zielpunkten */
  opacity: 0.7; /* Optional: Transparenz für das SVG */
  z-index: 1000;
  background-color: transparent;
  width: 300px !important;
  overflow: hidden;
}

.loading-screen-cal {
  background-color: transparent;
  margin-top: 50px;
}

@media screen and (max-width: 385px) {
  .cal-fingertip-target {
    transform: translate(-50%, -60%) scale(0.8);
  }
}