@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* { 
  background-color: #182a43;
  box-sizing: border-box;
  font-family: "Raleway", serif;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.welcomeText {
  height: 100vw;
  font-weight: 350;
  hyphens: auto; 
  text-align: center;
  line-height: 1.5;
  font-size: medium;
  background-color: #ffffff00;
}

.logo-hs {
  position: absolute;
  top: 80px;
  width: 120px;
  background-color: transparent;
}

.welcomeText h3, 
.welcomeText h2, 
.welcomeText h1 {
  font-weight: 250;
  text-align: center;
  color: #cfe9ff;
  background-color: #ffffff00;
}

.welcomeText h2 {
  font-size: 0.9em;
  margin-top: -30px;
  margin-bottom: 50px;
}

.welcomeText h1 {
  font-size: 1.5em;
}

.intro-text {
  font-family: "Raleway";
  text-align: center;
  color: #ffffff;
  font-size: 1em;
  font-weight: 300;
  width: 100%;
  margin-top: 130px;
  background-color: transparent;
  word-spacing: 2px;
  line-height: 1.5;
  padding-left: 30px;
  padding-right: 30px;
}

.colored-letter {
  font-weight: 600;
  color: #f4b700; /* Hier kannst du eine beliebige Farbe wählen */
}


.arrow.active,
.arrow.off {
  position: fixed;
  bottom: 15vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: transparent;
}

.arrow.off {
  animation: fadeOut 1s forwards;
}

.arrow svg {
  display: block;
  width: 100%;
  height: auto;
  background-color: transparent;
  animation: pulse 2.5s ease-in infinite;
  transform-origin: center;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); transform-origin: center; }
  100% { transform: scale(1); }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.content-button {
  font-size: 1em;
  width: 150px;
  height: 35px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  background-color: #21abbeff;
}

.card-text-1,
.card-text-2 {
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 1.1em;
  font-family: "Raleway", serif;
  font-weight: 500;
  text-align: center;
  width: 100%;
  background: transparent;
  padding: 10px;
  border-radius: 5px;
}

.front-container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: transparent;
}

.logo-nn {
  width: 70px;
  opacity: 0.8;
  background-color: transparent;
}

.flip-card-container {
  position: absolute;
  top: 30vh;
  left: 50%;
  transform: translateX(-50%);
  
}

.header-container {
  margin-left: -8px;
  position: fixed;
  top: 2vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.header-container h1 {
  color: #ffffff;
  font-family: "Raleway", serif;
  font-weight: 250;
}
.backText {
  background-color: rgb(9, 19, 31);
}
/* Media Query für größere Bildschirme (ab 768px) */
@media screen and (min-width: 768px) {
  .welcomeText {
    font-size: 1.2em;
    max-width: 60%;
    margin: auto;
  }

  .logo-hs {
    width: 160px;
    top: 100px;
  }
  .intro-text {
    font-size: 1.2em;
    margin-top: 150px;
  }
  .welcomeText h1 {
    font-size: 2em;
  }

  .welcomeText h2 {
    font-size: 1.2em;
  }

  .arrow.active,
  .arrow.off {
    bottom: 5vh;
    width: 70px;
    height: 70px;
  }

  .content-button {
    font-size: 1.2em;
    width: 180px;
    height: 45px;
  }

  .card-text-1,
  .card-text-2 {
    font-size: 1.5em;
    max-width: 80%;
  }
.backtext p{
  color: white;
  background-color: transparent;
}
  .logo-nn {
    width: 90px;
  }
}
